/*--start variables--*/
:root {
  --background-color:#000;
}

/*--end variables--*/
/*--start global rules--*/
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "FontAwesome", sans-serif;
  padding: 0px;
  margin: 0px;
  transition: 500ms ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  -webkit-transition: 500ms ease-out;
  -moz-transition: 500ms ease-out;
  -ms-transition: 500ms ease-out;
  -o-transition: 500ms ease-out;
}

html,
body {
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  background-color: var(--background-color);
  color: #fff;
  font-size: max(1vw, 1vh);
  overflow: hidden;
}

ul {
  list-style: none;
}

.container {
  width: 96vw;
  margin: 0px auto;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 1.5vw;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  box-shadow: inset 0.5px 0px 0px 1px #444;
  border-radius: 10vw;
  -webkit-border-radius: 10vw;
  -moz-border-radius: 10vw;
  -ms-border-radius: 10vw;
  -o-border-radius: 10vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

/* -start fonts- */
/*--end global rules--*/
body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* start background*/
  /* end background*/
  /* start header */
  /* end header */
  /* start social */
  /* end social */
  /* start icon */
  /* end icon */
  /* start sections */
  /* end sections */
  /* start about */
  /* old design */
}
@media (max-width: 700px) {
  body {
    flex-direction: column;
  }
}
body > *:not(header, #background) {
  opacity: 0;
}
body #background {
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 2em;
  overflow: hidden;
  z-index: 0;
}
body #background span {
  position: absolute;
  bottom: -10vh;
  color: white;
  animation: go linear 0.5s infinite;
  -webkit-animation: go linear 0.5s infinite;
}
@-webkit-keyframes go {
  to {
    bottom: 110vh;
  }
}
@keyframes go {
  to {
    bottom: 110vh;
  }
}
body header {
  width: 94%;
  position: absolute;
  top: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
  font-size: 4em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
body header span {
  -webkit-animation: clean2 1s linear forwards;
          animation: clean2 1s linear forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  display: inline-block;
}
@-webkit-keyframes clean2 {
  0% {
    opacity: 1;
    transform: translateY(0vh) rotate(0deg);
  }
  100% {
    opacity: 0.1;
    transform: translateY(-50vh) rotate(-350deg);
    -webkit-transform: translateY(-50vh) rotate(-350deg);
    -moz-transform: translateY(-50vh) rotate(-350deg);
    -ms-transform: translateY(-50vh) rotate(-350deg);
    -o-transform: translateY(-50vh) rotate(-350deg);
  }
}
@keyframes clean2 {
  0% {
    opacity: 1;
    transform: translateY(0vh) rotate(0deg);
  }
  100% {
    opacity: 0.1;
    transform: translateY(-50vh) rotate(-350deg);
    -webkit-transform: translateY(-50vh) rotate(-350deg);
    -moz-transform: translateY(-50vh) rotate(-350deg);
    -ms-transform: translateY(-50vh) rotate(-350deg);
    -o-transform: translateY(-50vh) rotate(-350deg);
  }
}
body header.clean span {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
body .social {
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
}
body #social {
  padding: 1.4vw;
  background-color: var(--background-color);
  z-index: 1;
}
body .social i:not(#social) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
body i {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  aspect-ratio: 1;
  font-size: 5em;
  padding: 1vw;
  display: flex !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  transition: 1s;
}
body i::before {
  cursor: pointer;
}
body .social i:hover,
body .servises i:hover,
body .otherSocial:hover {
  color: var(--background-color);
  background-color: #fff !important;
  transition: 300ms !important;
  -webkit-transition: 300ms !important;
  -moz-transition: 300ms !important;
  -ms-transition: 300ms !important;
  -o-transition: 300ms !important;
}
body .explain {
  position: relative;
}
body .explain:hover span {
  visibility: visible;
  opacity: 1;
}
body .explain span {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -180%);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  display: block;
  visibility: hidden;
  opacity: 0;
  padding: 0.5vh 0.5vw;
  background: #000;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0.6vw;
  transition: inherit 0;
}
body .explain span::after {
  content: "\f0dd";
  position: absolute;
  left: 50%;
  top: 100%;
  color: #000;
  font-size: 20px;
  text-shadow: 0px 1px 0 #fff;
  transform: translate(-50%, calc(-50% - 2px));
}
body section {
  display: flex;
  align-items: center;
  justify-content: center;
}
body section.page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  padding: 7vh 4vw 3vh;
  background-color: #000;
  z-index: 2;
  overflow: hidden overlay;
  transform: translateY(100%);
}
body section.page .close {
  position: fixed;
  top: 0%;
  right: 2%;
  font-size: 3em;
  z-index: 9;
}
body section.page .close:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
body #about {
  padding: 0;
  display: block;
  /* start skills */
  /* end skills */
  /* start servises */
  /* new design */
}
body #about > section {
  width: 100%;
  height: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 5vh;
}
@media (max-width: 700px) {
  body #about > section {
    margin-bottom: 7vh;
    flex-direction: column;
  }
  body #about > section:nth-child(even) {
    margin-bottom: 7vh;
    flex-direction: column-reverse;
  }
}
body #about > section > div {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
body #about > section .text {
  padding: 0 2vw;
}
body #about > section .text p {
  line-height: max(5vh, 5vw);
  letter-spacing: 4px;
  font-size: 2vw;
}
body #about > section .text p a {
  text-decoration: underline;
}
body #about > section .img img {
  width: 100%;
  aspect-ratio: 2/3;
  max-height: 100%;
}
body #about .skills {
  height: 50%;
  position: relative;
  flex-direction: column;
  margin-top: 2vh;
  row-gap: 0;
}
body #about .skills h2 {
  font-size: 10em;
  letter-spacing: 5vw;
  position: absolute;
  color: #000;
  text-shadow: 0 0 5px #aaa;
}
body #about .skills hr {
  width: 0%;
  height: 0vh;
  background: #fff;
  width: 1VW;
  height: 1vw;
  border-radius: 50%;
}
body #about .skills div {
  width: 100%;
  height: 100%;
  font-size: 1.3em;
  padding: 6vh 0;
  box-sizing: content-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}
body #about .skills div i {
  transform: translateY(25vh);
  -webkit-transform: translateY(25vh);
  -moz-transform: translateY(25vh);
  -ms-transform: translateY(25vh);
  -o-transform: translateY(25vh);
}
body #about .skills.move hr {
  animation: jump 3s ease-in-out 0.3s forwards;
  -webkit-animation: jump 3s ease-in-out 0.3s forwards;
}
@-webkit-keyframes jump {
  15% {
    height: 1vw;
    width: 1vw;
    transform: translateY(-6vh);
    -webkit-transform: translateY(-6vh);
    -moz-transform: translateY(-6vh);
    -ms-transform: translateY(-6vh);
    -o-transform: translateY(-6vh);
  }
  30% {
    height: 0.5vw;
    width: 0.5vw;
    transform: translateY(0vh);
    -webkit-transform: translateY(0vh);
    -moz-transform: translateY(0vh);
    -ms-transform: translateY(0vh);
    -o-transform: translateY(0vh);
  }
  35% {
    height: 0vw;
    width: 0vw;
  }
  100% {
    height: 0;
    width: 100%;
  }
}
@keyframes jump {
  15% {
    height: 1vw;
    width: 1vw;
    transform: translateY(-6vh);
    -webkit-transform: translateY(-6vh);
    -moz-transform: translateY(-6vh);
    -ms-transform: translateY(-6vh);
    -o-transform: translateY(-6vh);
  }
  30% {
    height: 0.5vw;
    width: 0.5vw;
    transform: translateY(0vh);
    -webkit-transform: translateY(0vh);
    -moz-transform: translateY(0vh);
    -ms-transform: translateY(0vh);
    -o-transform: translateY(0vh);
  }
  35% {
    height: 0vw;
    width: 0vw;
  }
  100% {
    height: 0;
    width: 100%;
  }
}
body #about .skills.move i {
  transition: 1s 3s;
  -webkit-transition: 1s 3s;
  -moz-transition: 1s 3s;
  -ms-transition: 1s 3s;
  -o-transition: 1s 3s;
  transform: translateY(15vh);
  -webkit-transform: translateY(15vh);
  -moz-transform: translateY(15vh);
  -ms-transform: translateY(15vh);
  -o-transform: translateY(15vh);
  --a-duration:1.8s;
  --a-delay:4s;
  animation: move var(--a-duration) linear var(--a-delay) infinite alternate;
  -webkit-animation: move var(--a-duration) linear var(--a-delay) infinite alternate;
}
body #about .skills.move i:nth-child(even) {
  -webkit-animation-delay: calc(var(--a-duration) + var(--a-delay));
          animation-delay: calc(var(--a-duration) + var(--a-delay));
}
@-webkit-keyframes move {
  to {
    transform: translateY(-15vh);
    -webkit-transform: translateY(-15vh);
    -moz-transform: translateY(-15vh);
    -ms-transform: translateY(-15vh);
    -o-transform: translateY(-15vh);
  }
}
@keyframes move {
  to {
    transform: translateY(-15vh);
    -webkit-transform: translateY(-15vh);
    -moz-transform: translateY(-15vh);
    -ms-transform: translateY(-15vh);
    -o-transform: translateY(-15vh);
  }
}
body #about .servises {
  width: 100%;
  height: 50%;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
}
body #about .servises h2 {
  --width:4rem;
  height: calc(var(--width) * 2);
  padding: 1rem 0 1rem 2.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  text-shadow: 0 0 5px #fff;
  color: #000;
  background-color: #000;
  font-size: 5em;
  letter-spacing: 3rem;
  border-radius: var(--width);
  cursor: pointer;
  z-index: 1;
  -webkit-border-radius: var(--width);
  -moz-border-radius: var(--width);
  -ms-border-radius: var(--width);
  -o-border-radius: var(--width);
}
body #about .servises h2.active {
  width: calc(var(--width) * 2) !important;
  padding: 2.2rem;
  letter-spacing: 5rem;
  color: #000;
  background-color: #fff;
  overflow: hidden;
}
body #about .servises h2:hover {
  color: #000;
  background-color: #fff;
}
body #about .servises i {
  padding: 1.4vw;
  background-color: var(--background-color);
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
body #about .serve {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 3;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -moz-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  -o-transform: translate(-50%, -50%) scale(0);
}
body #about .serve .content {
  width: 80vw;
  height: 90vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1vh 3vw;
  background-color: #1b1b1b;
  border-radius: 2vw;
  -webkit-border-radius: 2vw;
  -moz-border-radius: 2vw;
  -ms-border-radius: 2vw;
  -o-border-radius: 2vw;
}
body #about .serve .content i.popup {
  top: 6%;
  right: 11%;
}
body #about .serve .content h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  letter-spacing: 1rem;
}
body #about .serve .content h2 i {
  font-size: inherit;
}
body #about .serve .content p {
  font-size: 2rem;
  letter-spacing: 0.8rem;
  line-height: 4vh;
  text-align: center;
}
body #about .serve .content dl {
  letter-spacing: 0.5rem;
  line-height: 3vh;
}
body #about .serve .content dl dd {
  margin: 1vh 0;
  font-size: 1.7rem;
  font-weight: 900;
}
body #about .serve .content dl dt {
  position: relative;
  color: #dbdbdb;
  font-size: 1.4rem;
  font-weight: 100;
  margin-left: 4vw;
}
body #about .serve .content dl dt::before {
  content: "\f00c";
  position: absolute;
  color: lime;
  left: -3vw;
  font-size: 1.8rem;
  font-weight: 900;
}

/* end servises */
/* end about */
/* start portfolio */
section.portfolio {
  flex-wrap: wrap;
  gap: 20px;
  align-content: center;
}
@media (max-width: 555px) {
  section.portfolio {
    align-content: flex-start;
  }
}
section.portfolio .project {
  width: max(300px, 20vw);
  aspect-ratio: 1.6/1;
  font-size: max(11px, 0.7vw);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.3vw solid #fff;
  border-radius: 1vw;
  overflow: hidden;
  -webkit-border-radius: 1vw;
  -moz-border-radius: 1vw;
  -ms-border-radius: 1vw;
  -o-border-radius: 1vw;
}
@media (max-width: 1050px) {
  section.portfolio .project {
    width: 240px;
  }
}
@media (max-width: 310px) {
  section.portfolio .project {
    width: 180px;
  }
}
section.portfolio .project .details {
  width: 100%;
  height: 25%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.5vw;
  transform: translateY(100%);
}
section.portfolio .project .details h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2em;
  letter-spacing: 0.2vw;
}
section.portfolio .project .details i {
  font-size: 2em;
  padding: 0;
}
section.portfolio .project .details i:hover {
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
}
section.portfolio .project .details i span {
  transform: translate(-80%, -165%) scale(0.8);
}
section.portfolio .project .details i span::after {
  font-size: 1.6em;
  transform: translate(285%, calc(-50% - 1px));
  -webkit-transform: translate(285%, calc(-50% - 1px));
  -moz-transform: translate(285%, calc(-50% - 1px));
  -ms-transform: translate(285%, calc(-50% - 1px));
  -o-transform: translate(285%, calc(-50% - 1px));
}
section.portfolio .project:hover .details {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
section.portfolio .project:hover img {
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
}
section.portfolio .project img {
  width: 104%;
  aspect-ratio: inherit;
  cursor: pointer;
}

/* end portfolio */
.finish {
  width: 100%;
  height: 15vh;
  font-size: 3.5em;
  letter-spacing: 0.5vw;
  text-align: center;
}/*# sourceMappingURL=style.css.map */